@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
   
    width: 400px;
    height: 400px;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

tr.dado{
    background-color: rgb(113, 113, 158);
}

tr.ti{
    background-image: linear-gradient(to bottom,red, yellow);
}

tr.id{
    background-image: linear-gradient(to bottom, blue, green);
}

tr.x{
    background-color: aqua;
}


h1{
    border: 1px solid black;
    border-radius: 5px;
}